---
import Layout from "../layouts/Layout.astro";
import Schools from "../components/Schools.astro";
import Logo from "../assets/AY.svg";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

export const prerender = false;
---

<Layout>
	<main class="flex flex-col jusfity-center items-center">
		{
			session && (
				<button
					id="logout"
					class="p-4 font-bold text-black dark:text-white text-center rounded-xl hover:bg-zinc-200 transition-all"
				>
					Cerrar sesion
				</button>
			)
		}

		<header class="flex flex-col gap-4 m-16">
			<h1
				class="text-4xl font-bold text-center dark:text-white flex justify-center"
			>
				Assist<p class="text-orange-600 font-black">YOU</p>
				<Logo />
			</h1>
			<p class="text-center dark:text-white">
				Bienvenido a la plataforma de asistencia para profesores
			</p>
		</header>

		{
			session ? (
				<Schools />
			) : (
				<div class="flex gap-4">
					<button
						id="login"
						class="font-bold bg-black  text-white rounded-lg p-2 hover:bg-zinc-700  transition-all dark:bg-white dark:text-black dark-hover:bg-zinc-200"
					>
						Iniciar sesion
					</button>
				</div>
			)
		}
	</main>
</Layout>

<script>
	import { $ } from "../lib/dom-selector";
	const { signIn, signOut } = await import("auth-astro/client");

	const $login = $("#login");
	const $logout = $("#logout");

	if ($login) {
		$login.onclick = () => signIn("google");
	}
	if ($logout) {
		$logout.onclick = () => signOut();
	}
</script>
