---
import Layout from "../layouts/Layout.astro";
import Schools from "../components/Schools.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

export const prerender = false;
---

<Layout>
	<main class="flex flex-col jusfity-center items-center">
		{
			session && (
				<button
					id="logout"
					class="p-4 font-bold text-black dark:text-white text-center rounded-xl hover:bg-zinc-200 transition-all"
				>
					Cerrar sesion
				</button>
			)
		}

		<header class="flex flex-col gap-4 m-16">
			<h1
				class="text-4xl font-bold text-center dark:text-white flex justify-center"
			>
			<!--
				Assist<p class="text-orange-600 font-black">YOU</p>
			
			-->

				<svg viewBox="0 0 148 93" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M27.2727 93.0909H0L30.7273 0h34.5454L96 93.0909H68.7273L48.3636 25.6364h-.7272L27.2727 93.0909Zm-5.0909-36.7273h51.2728v18.9091H22.1818V56.3636Z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="m70.5366 0 30.7564 93h27.385l-10.833-32.756L148.145 0h-29.103L106.3 25.334 97.9216 0h-27.385Z" fill="#F54A00"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h148v93H0z"/></clipPath></defs></svg>

			</h1>
			<p class="text-center dark:text-white">
				Bienvenido a la plataforma de asistencia para profesores
			</p>
		</header>

		{
			session ? (
				<Schools />
			) : (
				<div class="flex gap-4">
					<button
						id="login"
						class="font-bold bg-black  text-white rounded-lg p-2 hover:bg-zinc-700  transition-all dark:bg-white dark:text-black dark-hover:bg-zinc-200"
					>
						Iniciar sesion
					</button>
				</div>
			)
		}
	</main>
</Layout>

<script>
	import { $ } from "../lib/dom-selector";
	const { signIn, signOut } = await import("auth-astro/client");

	const $login = $("#login");
	const $logout = $("#logout");

	if ($login) {
		$login.onclick = () => signIn("google");
	}
	if ($logout) {
		$logout.onclick = () => signOut();
	}
</script>
