---
import Layout from "../layouts/Layout.astro";
import Schools from "../components/Schools.astro";
import { getSession } from "auth-astro/server";
import { generateId } from "../lib/utils";

import { db, eq, School, AppUser } from "astro:db";

const session = await getSession(Astro.request);

let appUser;
let schools
if (session) {
	if (session.user.email) {
		appUser = await db
			.select()
			.from(AppUser)
			.where(eq(AppUser.id, generateId(session.user.email)))
			.then((res) => res[0]);
		if (!appUser) {
			await db.insert(AppUser).values({
				id: generateId(session.user.email),
				username: session.user.name,
				email: session.user.email,
			});
		}
	}

	schools = await db
		.select()
		.from(School)
		.where(eq(School.user_id, appUser.id ));

}
---

<Layout>
	<main class="flex flex-col justify-center items-center">
		{
			session && (
				<button
					id="logout"
					class="m-4 p-2 font-bold text-black dark:text-white text-center rounded-xl hover:bg-zinc-200 hover:text-zinc-800 transition-all"
				>
					Cerrar sesion
				</button>
			)
		}

		<header class="flex flex-col gap-4 m-16">
			<h1
				class="text-4xl font-bold text-center dark:text-white flex justify-center"
			>
				Assist<p class="text-orange-600 font-black">YOU</p>
			</h1>
			<p class="text-center dark:text-white">
				Bienvenido a la plataforma de asistencia para profesores
			</p>
		</header>

		{
			session ? (
				console.log(appUser),
				<Schools schools={schools} />
			) : (
				<div class="flex gap-4">
					<button
						id="login"
						class="font-bold bg-black  text-white rounded-lg p-2 hover:bg-zinc-700  transition-all dark:bg-white dark:text-black dark-hover:bg-zinc-200"
					>
						Iniciar sesion
					</button>
				</div>
			)
		}
	</main>
</Layout>

<script>
	import { $ } from "../lib/dom-selector";
	const { signIn, signOut } = await import("auth-astro/client");

	const $login = $("#login");
	const $logout = $("#logout");

	if ($login) {
		$login.onclick = () => signIn("google");
	}
	if ($logout) {
		$logout.onclick = () => signOut();
	}
</script>
