---
import CourseLayout from "../../../layouts/CourseLayout.astro";
import { db, eq, and, Exam, SemesterPeriod } from "astro:db";
import { getCourseData } from "../../../lib/courseUtils";

export const prerender = false;

const { id_school, id_course } = Astro.params;

if (!id_school || !id_course) {
  return new Response("Par치metros inv치lidos", {
    status: 400,
    statusText: "Bad Request",
  });
}

const result = await getCourseData(Astro.request, id_school, id_course);

if (result.error) {
  return new Response(result.error, {
    status: result.status,
    statusText: result.statusText,
  });
}

const { school, course, userId } = result;

const exams = await db
  .select()
  .from(Exam)
  .innerJoin(SemesterPeriod, eq(Exam.semester_period_id, SemesterPeriod.id))
  .where(and(eq(Exam.course_id, id_course), eq(Exam.user_id, userId)));
---

<CourseLayout school={school} course={course} activeTab="exams">
  <div>

    <div
      class="flex justify-between items-center w-full md:max-w-xl max-w-2xl my-8"
    >
      <h1 class="text-center text-2xl font-semibold text-white">Ex치menes</h1>
      <button
        id="addExamBtn"
        class="bg-orange-500/20 hover:size-104 text-white font-bold mx-4 rounded-lg  transition-all"
      >
        <svg
          class="stroke-2 stroke-orange-500 size-8 group-hover:stroke-zinc-700"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 12h5m0 0h5m-5 0V7m0 5v5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>

    {
      exams.length === 0 ? (
        <p class="text-zinc-400">
          No hay ex치menes registrados para este curso.
        </p>
      ) : (
        <div class="grid grid-cols-2 gap-3 justify-items-center">
          {exams.map(({ Exam, SemesterPeriod }) => (
            <a class="w-full h-full">
              <div class="flex flex-col justify-center items-center gap-2 bg-zinc-500/20 p-4 rounded-lg text-center text-zinc-500 hover:scale-104 transition-all">
                <p class="text-sm">
                  {new Date(Exam.exam_date).toLocaleDateString()}
                </p>
                <p class="text-xl font-bold text-white">
                  {Exam.name}
                </p>
                <p class="text-xs">{SemesterPeriod.name}</p>
              </div>
            </a>
          ))}
        </div>
      )
    }
  </div>
</CourseLayout>
